@import url('./loader.css');
@import url('./card.css');
@import url('./button.css');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-image: url("https://github.com/Javieer57/CPC-Card-Text/blob/main/assets/wood.jpg?raw=true");
    color: var(--dark);
    font-family: var(--body-font);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Metropolis;
    margin: 30px;
}

header h1 {
    font-size: 3rem;
}

p:not(:last-child) {
    margin-bottom: 14px;
}

header section {
    margin: 20px 0px 0px 0px;
}

header section input {
    transition: 0.2s ease-in;
    font-family: Metropolis;
    font-size: 1.4rem;
    border: 1px solid white;
    color: #111;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header section input:focus {
    border-color: #FF4D4D;
    outline: #FF4D4D;
}

img {
    width: 100%;
}